* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto';
  overflow-x: hidden;
}

.page-heading {
  margin: 0;
}

.Banner {
  padding: 5rem 4rem;
  border-radius: 0;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 2px 1px #555;
}

.Banner .heading {
  font-size: 2.5rem;
}

.banner-label {
  padding: 1.3em !important;
  font-size: 1rem !important;
}

.Banner .label-recovered {
  background: rgb(55, 148, 55) !important;
  color: #fff !important;
}

.d__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 954px) {
  .main-toolbar {
    display: block !important;
    align-items: center !important;
    text-align: center !important;
    padding: 1em !important;
  }

  .main-toolbar h6 {
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 745px) {
  .page-header {
    display: block;
    align-items: center;
    text-align: center;
  }

  .page-heading {
    margin-bottom: 0.35rem;
  }

  .search-field {
    width: 250px;
  }
}

@media only screen and (max-width: 330px) {
  .search-field {
    width: 200px;
  }
}

@media only screen and (max-width: 890px) {
  .chart-container {
    width: 650px !important;
  }
}

@media only screen and (max-width: 720px) {
  .chart-container {
    width: 600px !important;
  }
}

@media only screen and (max-width: 660px) {
  .chart-container {
    width: 500px !important;
  }
}

@media only screen and (max-width: 545px) {
  .chart-container {
    width: 400px !important;
  }
}

@media only screen and (max-width: 450px) {
  .chart-container {
    width: 300px !important;
  }
}
